*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color: red;
}
.card{
  width:700px;
  background: #ccc;
  padding: 20PX;
  margin: 20PX;
  font-family: sans-serif;
  line-height: 28px;
}
::-webkit-scrollbar{
  background-color:transparent;
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background:linear-gradient(#FF2525,#FFE53B);
  border-radius: 10px;
}